*{
	margin: 0;
	padding: 0;
}

.login{
	margin: 0 auto;
	margin-top: 165px;
	width: 300px;
}

.register{
	margin: 0 auto;
	margin-top: 70px;
	margin-left: 845px;
	width: 400px;
}

.nama{
	width: 191.3px;
}

.nama2{
	margin-left: 15px;
}

.logo{
	width: 100px;
}

.login-btn{
	margin-left: 1070px;
}